*.cache
*.info
Battleship-Command/Battleship-Command-csharp.sln
*.info
*.meta
Battleship-Command/Assets/Scripts/Menu Scripts/AcceptMission.cs.meta
Battleship-Command/Library/metadata/06/069a08a4c9d3e574698e341cf4c3f60e